/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/* common style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* Carousel */
.carousel-item {
    height: 80vh;
    background-color: black;
}

.carousel-item img {
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}

/* Student's Feedback Icon */

.fa-star.empty {
    color: #AEAEAE;
}

.icon {
    position: relative;
}

.icon-left {
    position: absolute;
    top: 45%;
    left: 0;
    font-size: 30px;
    color: #AEAEAE;
}

.icon-right {
    position: absolute;
    top: 45%;
    right: 0;
    font-size: 30px;
}

/* Company Logo */
@media only screen and (max-width: 991px) {
    #company-logo {
        display: none;
    }
}